<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HPX - 404</title>

    <link rel="icon" type="image/x-icon" href="home/img/fav.png" />

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/responsive.css" />
  </head>
  <body class="bg-darker">
    <div class="overlay"></div>

    <!-- offcanvas-menu -->

    <div class="offcanvas-wrapper">
      <div
        class="offcanvas-header d-flex align-items-center justify-content-between"
      >
        <div class="header-menu__lang ms-0">
          <div class="dropdown">
            <button
              class="dropdown-toggle"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <span class="fl">
                <img src="/assets/img/fl.png" alt="" />
              </span>
              En
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <a class="dropdown-item" href="#">
                  <span class="fl">
                    <img src="/assets/img/fl.png" alt="" />
                  </span>
                  En
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
                  <span class="fl">
                    <img src="/assets/img/fl.png" alt="" />
                  </span>
                  En
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="offcanvas-close">
          <span class="close">
            <img src="/assets/img/close.png" alt="" />
          </span>
        </div>
      </div>
      <div class="offcanvas-menu">
        <nav>
          <ul>
            <li>
              <a href="/sacrifice">Sacrifice</a>
            </li>
            <li>
              <a href="">Tokenomics</a>
            </li>
            <li>
              <a href="">Airdrop</a>
            </li>
            <li>
              <a href="">Team</a>
            </li>
            <li>
              <a href="">FAQ</a>
            </li>
            <li>
              <a href="">About</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- offcanvas-menu-end -->
    <!-- header -->

    <header class="header header-padding">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div
              class="header-wrapper d-flex align-items-center justify-content-between"
            >
              <div class="header-logo">
                <a href="/">
                  <img src="/assets/img/logo.svg" alt="" />
                </a>
              </div>
              <div class="header-menu d-flex align-items-center">
                <div class="header-menu__nav d-none d-xl-block">
                  <nav>
                    <ul class="d-flex align-items-center">
                      <li>
                        <a href="">Sacrifice</a>
                      </li>
                      <li>
                        <a href="">Tokenomics</a>
                      </li>
                      <li>
                        <a href="">Airdrop</a>
                      </li>
                      <li>
                        <a href="">Team</a>
                      </li>
                      <li>
                        <a href="">FAQ</a>
                      </li>
                      <li>
                        <a href="">About</a>
                      </li>
                    </ul>
                  </nav>
                </div>
                <div class="header-right d-flex align-items-center ms-xl-3">
                  <div class="header-right__btns d-md-flex align-items-center">
                    <a href="" class="btn me-1 me-md-3"> Marketplace </a>

                    <button class="btn btn-borderd" data="Referral"></button>
                  </div>

                  <div class="header-menu__lang d-none d-xl-block">
                    <div class="dropdown">
                      <button
                        class="dropdown-toggle"
                        type="button"
                        id="dropdownMenuButton1"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <span class="fl">
                          <img src="/assets/img/globe.png" alt="" />
                        </span>
                        En
                      </button>
                      <ul
                        class="dropdown-menu"
                        aria-labelledby="dropdownMenuButton1"
                      >
                        <li>
                          <a class="dropdown-item" href="#">
                            <span class="fl">
                              <img src="/assets/img/fl.png" alt="" />
                            </span>
                            En
                          </a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">
                            <span class="fl">
                              <img src="/assets/img/fl.png" alt="" />
                            </span>
                            En
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="header-mobileBar d-xl-none ms-3">
                    <span class="bar">
                      <img src="/assets/img/bar.png" alt="" />
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="desc desc-refer text-center">
              <h1 class="gd-text mt-5">Page Not Found</h1>
              <h1 class="gd-text">404</h1>

              <div class="desc-img">
                <img src="/assets/img/refer-1.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- join-area -->

    <section class="join join-padding bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="join-content text-center">
              <h3>Join with us</h3>
              <div class="join-content__social">
                <a href="">
                  <img src="/assets/img/plane.png" alt="" />
                </a>
                <a href="">
                  <img src="/assets/img/twitter.png" alt="" />
                </a>
                <a href="">
                  <img src="/assets/img/youtube.png" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- join-area-end -->

    <footer class="footer bg-dark" ref="{ref}">
      <div class="footer-border"></div>
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-5">
              <div class="footer-text">
                <a href="">
                  <img src="/assets/img/footer-logo.png" alt="" />
                </a>
                <p>
                  Hpx will work like an Index for all nft’s on Pulsechain. Once
                  a nft trade is made thru our platform you will earn yields
                  each time a transaction is made, just like a shareholder
                </p>
              </div>
            </div>
            <div class="col-lg-7">
              <div class="row">
                <div class="col-md-4">
                  <div class="footer-menu">
                    <h5>Explore</h5>
                    <ul>
                      <li>
                        <a href="/sacrifice">Sacrifice</a>
                      </li>
                      <li>
                        <a href="">Marketplace</a>
                      </li>
                      <li>
                        <a href="">HPX Air Drop</a>
                      </li>
                      <li>
                        <a href="">Elron</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="footer-menu">
                    <h5>Community</h5>
                    <ul>
                      <li>
                        <a href="">Home</a>
                      </li>
                      <li>
                        <a href="">Project Status</a>
                      </li>
                      <li>
                        <a href="">Value</a>
                      </li>
                      <li>
                        <a href="">Wallet</a>
                      </li>
                      <li>
                        <a href=""></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="footer-menu">
                    <h5>Company</h5>
                    <ul>
                      <li>
                        <a href="">About</a>
                      </li>
                      <li>
                        <a href="">Careers</a>
                      </li>
                      <li>
                        <a href="">Team</a>
                      </li>
                      <li>
                        <a href="">Location</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <div class="footer-copy">
                <p class="mb-0">© HPX All rights reserved.</p>
              </div>
            </div>
            <div class="col-6">
              <div class="footer-link text-end">
                <a href="">Privacy Policy</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
