<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>HPX Landing Page</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="manifest" href="site.webmanifest" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo-icon.png" />
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="/new-assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/new-assets/css/fontawesome.min.css" />
    <link rel="stylesheet" href="/new-assets/css/aos.css" />
    <link
      rel="stylesheet"
      href="/new-assets/css/bootstrap-select-country.min.css"
    />
    <link rel="stylesheet" href="/new-assets/css/default.css" />
    <link rel="stylesheet" href="/new-assets/css/style.css" />
    <link rel="stylesheet" href="/new-assets/css/responsive.css" />
  </head>
  <body>
    <!-- Preloader Start -->
    <div id="preloader">
      <div class="loader3">
        <span></span>
        <span></span>
      </div>
    </div>
    <!-- Preloader End -->
    <!-- header strat -->
    <header>
      <div class="header-area">
        <div class="container">
          <div class="row align-items-center header-padding">
            <div class="col-md-2 col-5">
              <div class="logo">
                <a href="/"
                  ><img src="/new-assets/img/logo-icon.png" alt="" /> HPX</a
                >
              </div>
            </div>
            <div class="col-md-10 col-7">
              <div class="navbar-nav">
                <!-- Menu -->
                <ul id="menu" class="text-end">
                  <li><a href="/#sacrifice">Sacrifice</a></li>
                  <li><a href="/#tokenomics">Tokenomics</a></li>
                  <li><a href="/#air-drop">Airdrop</a></li>
                  <li><a href="/#team">Team</a></li>
                  <li><a href="/#faq">FAQ</a></li>
                  <li><a href="/#about">About</a></li>
                </ul>

                <!-- Flag Picker -->
                <div
                  id="options"
                  class="input_box"
                  data-input-name="country2"
                  data-selected-country="GB"
                ></div>

                <!-- hamburger menu -->
                <div class="hamburger-menu">
                  <span class="line-top"></span>
                  <span class="line-center"></span>
                  <span class="line-bottom"></span>
                </div>
                <!-- hamburger menu -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- header end -->
    <main>
      <!-- hero area start -->
      <div class="hero-area">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 order-md-2">
              <div class="hero-img">
                <img class="vert-move" src="/new-assets/img/hero.png" alt="" />
              </div>
            </div>
            <div class="col-md-6 order-md-1">
              <div class="hero-text">
                <h1>Hpx Referral Program</h1>
                <p>Welcome To Our Referral Program</p>
                <p>Love Hpx Refferal Program</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- hero area end -->
      <!-- program area strat -->
      <div class="program-area pt-40">
        <div class="program-shape">
          <img src="/new-assets/img/shape.png" alt="" />
        </div>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6" data-aos="fade-up" data-aos-duration="1000">
              <div class="program-img">
                <img src="/new-assets/img/prgoram.png" alt="" />
              </div>
            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-duration="1400">
              <div class="program-text">
                <h2>Why are we doing a referral program?</h2>
                <p>
                  This program was designed to encourage the growth of the Hpx
                  community and increase adoption of our staking protocol. It's
                  open for anyone to participate and earn rewards, and as you'll
                  see, it's very easy to set up.
                </p>
                <p class="m-0">
                  Here's a step-by-step overview of the process:
                </p>
              </div>
            </div>
          </div>
          <!-- video wrapper -->
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <div class="video-wrapper pt-140 text-center">
                <iframe
                  src="https://www.youtube.com/embed/zlRl8sJU_4I"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
          </div>
          <!-- video wrapper -->
        </div>
      </div>
      <!-- program area end -->
      <!-- table area start -->
      <div class="table-area pt-150">
        <div class="container">
          <div class="row align-items-center table-padding pb-140">
            <div
              class="col-md-6 order-md-2"
              data-aos="fade-up"
              data-aos-duration="1000"
            >
              <div class="table-img">
                <img src="/new-assets/img/table-box.png" alt="" />
              </div>
            </div>
            <div
              class="col-md-6 order-md-1"
              data-aos="fade-up"
              data-aos-duration="1400"
            >
              <div class="table-wrapper">
                <div class="table-box table-box-2 mb-20">
                  <h3>Step 1</h3>
                  <p>
                    Watch the full video at the top of this page, then read
                    these Participation steps, the Rewards list, and the
                    Examples also outlined below.
                  </p>
                  <img
                    class="vert-move"
                    src="/new-assets/img/arrow-right.png"
                    alt=""
                  />
                </div>
                <div class="table-box mb-20">
                  <h3>Step 2</h3>
                  <p>
                    Once you have completed Step 1, click the purple button to
                    open the form page and secure your own unique referral link.
                  </p>
                </div>
                <div class="table-box table-box-2 table-arrow-left">
                  <h3>Step 3</h3>
                  <p>
                    After the form page has opened, connect to MetaMask,
                    authenticate your wallet address, then click the ‘Sign’
                    button to obtain your referral link.
                  </p>
                  <img
                    class="vert-move"
                    src="/new-assets/img/arrow-left.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row align-items-center table-padding">
            <div class="col-md-6" data-aos="fade-up" data-aos-duration="1000">
              <div class="table-img">
                <img src="/new-assets/img/table-box-2.png" alt="" />
              </div>
            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-duration="1400">
              <div class="table-wrapper">
                <div class="table-box table-box-2 mb-20">
                  <h3>Step 4</h3>
                  <p>
                    Copy your unique referral link and share with family,
                    friends and others across all your social channels, and any
                    other manner you choose.
                  </p>
                  <img
                    class="vert-move"
                    src="/new-assets/img/arrow-right.png"
                    alt=""
                  />
                </div>
                <div class="table-box mb-20">
                  <h3>Step 5</h3>
                  <p>
                    Keep a note of your unique referral link somewhere safe and
                    bookmark this page so you can return to it at any time to
                    see your referral count <a href="#">– Hpx.io/love</a>
                  </p>
                </div>
                <div class="table-box table-box-2 table-box-6 table-arrow-left">
                  <h3>Step 6</h3>
                  <p>
                    For security purposes make sure you go to your MetaMask and
                    disconnect your wallet from our website.
                    <img
                      class="vert-move"
                      src="/new-assets/img/arrow-left.png"
                      alt=""
                    />
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- table area end -->
      <!-- join area start -->
      <div
        class="join-area pt-120 pb-120"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <div class="join-shape">
          <div class="join-shape-1">
            <img src="/new-assets/img/shape-2.png" alt="" />
          </div>
          <div class="join-shape-2">
            <img src="/new-assets/img/shape-1.png" alt="" />
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="join-box text-center">
                <h2>Join our referral program</h2>
                <p>Earn 5% points of your referral sacrifices</p>
                <a href="/referral"><span>Let’s begin</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- join area end -->
      <!-- roadmap-area start -->
      <div class="roadmap-area">
        <div class="container">
          <div class="row">
            <div class="col-12" data-aos="fade-up" data-aos-duration="1000">
              <div class="roadmap-title text-center mb-50">
                <h2>Rewards</h2>
                <p>
                  There are three ways to participate and earn rewards – as a
                  ‘Referrer’, as a ‘Referee’, and as a ‘Self Referrer’.
                </p>
                <p>
                  A Referrer is a primary person who shares his/her referral
                  link with others so they can join the program... a Referee is
                  a secondary person who uses that referral link to join the
                  program... and a Self Referrer is a primary person who has a
                  minimum of 10 or more Referees, and he/she now qualifies for
                  an additional bonus.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6" data-aos="fade-up" data-aos-duration="1400">
              <div class="roadmap-box">
                <h4>Earn 5% of your Referees’</h4>
                <p>
                  earn 5% of your Referees’ sacrifice points when they use your
                  link.
                </p>
                <p>
                  When a Referee uses your referral link to join the program,
                  you as the Referrer will receive a bonus 5% of their total
                  sacrifice points.
                </p>
                <p>
                  To qualify as a Referrer, a minimum of US $500 must be
                  sacrificed from your registered wallet address and your
                  Referees’ linked registered wallet address. There is no limit
                  on how many Referees a Referrer may have.
                </p>
              </div>
            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-duration="1800">
              <div class="roadmap-box">
                <h4>Earn 5% of your Referees’</h4>
                <p>
                  earn 5% of your own sacrifice points when you use someone
                  else’s link.
                </p>
                <p>
                  When you use a Referrer’s referral link to join the program,
                  you as the Referee will receive a bonus 5% of your own total
                  sacrifice points.
                </p>
                <p>
                  To qualify as a Referee, a minimum of US $500 must be
                  sacrificed from your registered wallet address and your
                  Referrer’s linked registered wallet address.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- roadmap-area end -->
      <div class="brand-area pt-150 pb-130">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="brand-img text-center">
                <img src="/new-assets/img/brand.png" alt="" class="vert-move" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- roadmap-area start -->
      <div class="roadmap-area">
        <div class="container">
          <div class="row">
            <div class="col-12" data-aos="fade-up" data-aos-duration="1000">
              <div class="roadmap-title roadmap-title-2 text-center mb-100">
                <h2>Examples</h2>
                <p>Here’s 2 potential examples of how this might work:</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6" data-aos="fade-up" data-aos-duration="1400">
              <div class="roadmap-box roadmap-box-2">
                <h4>Example 1 – As a Referrer</h4>
                <p>
                  You join the program by registering your wallet address and
                  share your referral link with 10 friends. 8 of your 10 friends
                  sacrifice a total of US $30,000. 2 of your friends do not
                  participate, or are under US $500 in sacrificed amount.
                </p>
                <p>
                  As a Referrer, you will receive up to US $1,500 worth of bonus
                  points – calculated at the end of the sacrifice phase and
                  based on the total points your 8 friends have accumulated from
                  their US $30,000 sacrificed.
                </p>
                <p>
                  In addition, your 8 friends will also receive up to US $1,500
                  worth of bonus points, shared proportional to their individual
                  sacrifice points total.
                </p>
              </div>
            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-duration="1800">
              <div class="roadmap-box roadmap-box-2">
                <h4>Example 2 – As a Referee</h4>
                <p>
                  You receive a referral link and join the program by
                  registering your wallet address. You then sacrifice US $5,000.
                </p>
                <p>
                  As a Referee, you will receive up to US $250 worth of bonus
                  points – calculated at the end of the sacrifice phase and
                  based on the total points you accumulate.
                </p>
                <p>
                  In addition, your Referrer will also receive up to US $250
                  worth of bonus points.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- roadmap-area end -->
    </main>
    <!-- footer start -->
    <footer>
      <div class="footer-area pt-75 pb-75">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="footer-social mb-75 text-center">
                <a
                  data-aos="fade-up"
                  data-aos-duration="1000"
                  href="https://t.me/hpx369"
                  target="_blank"
                  ><img src="/new-assets/img/i-1.png" alt=""
                /></a>
                <a
                  data-aos="fade-up"
                  data-aos-duration="1300"
                  href="https://twitter.com/Hpx369?s=20&t=JKLrzazZ9cM_oAXWe3NUXQ"
                  target="_blank"
                  ><img src="/new-assets/img/i-2.png" alt=""
                /></a>
                <a data-aos="fade-up" data-aos-duration="1600" href="#"
                  ><img src="/new-assets/img/i-3.png" alt=""
                /></a>
              </div>
            </div>
          </div>
          <div class="row footer-border">
            <div class="col-md-5">
              <div class="footer-text">
                <h3>HPX</h3>
                <p>
                  Community-owned NFT market place with a 10,000x native token
                  From community, for community Hpx is a marketplace for NFT
                  trading based on the Pulse Chain network. Make profits by
                  owning $Hpx as one of our company's shareholders.
                </p>
              </div>
            </div>
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-4">
                  <div class="footer-menu">
                    <h3>Explore</h3>
                    <ul>
                      <li><a href="/#sacrifice">Sacrifice</a></li>
                      <li><a href="#">Marketplace</a></li>
                      <li><a href="/#air-drop">HPX Air Drop</a></li>
                      <li><a href="#">Elron</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="footer-menu">
                    <h3>Community</h3>
                    <ul>
                      <li><a href="/">Home</a></li>
                      <li><a href="#">Project Status</a></li>
                      <li><a href="#">Value</a></li>
                      <li><a href="#">Wallet</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="footer-menu">
                    <h3>Company</h3>
                    <ul>
                      <li>
                        <a
                          target="blank"
                          href="https://twitter.com/Hpx369?s=20&t=JKLrzazZ9cM_oAXWe3NUXQ"
                          >Twitter</a
                        >
                      </li>
                      <li>
                        <a target="blank" href="https://t.me/hpx369"
                          >Telegram</a
                        >
                      </li>
                      <li>
                        <a target="blank" href="https://febrit.co">Website</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-md-6">
              <div class="copy-text">
                <p>&copy; HPX All rights reserved.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="copy-text-right text-end">
                <a href="#">Privacy Policy</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer end -->
    <!--====== BACK TO TOP START ======-->
    <a href="#" class="back-to-top"><i class="fas fa-angle-up"></i></a>
    <!--====== BACK TO TOP ENDS ======-->
    <!-- JS here -->
    <script src="/new-assets/js/jquery-1.12.4.min.js"></script>
    <script src="/new-assets/js/bootstrap.min.js"></script>
    <script src="/new-assets/js/fontawesome.min.js"></script>
    <script src="/new-assets/js/bootstrap-select-country.min.js"></script>
    <script src="/new-assets/js/aos.js"></script>
    <script src="/new-assets/js/plugins.js"></script>
    <script src="/new-assets/js/main.js"></script>
  </body>
</html>
