<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#000000" />

    <title>HPX</title>
    <base href="/referral" />

    <link rel="icon" type="image/x-icon" href="home/img/fav.png" />

    <!-- CSS here -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/responsive.css" />

    <!-- referral -->

    <link rel="stylesheet" href="/join-referral/Connect.css" />
    <link rel="stylesheet" href="/join-referral/copyright.css" />
    <link rel="stylesheet" href="/join-referral/Faq.css" />
    <link rel="stylesheet" href="/join-referral/FirstTime.css" />
    <link rel="stylesheet" href="/join-referral/Footer.css" />
    <link rel="stylesheet" href="/join-referral/Header.css" />
    <link rel="stylesheet" href="/join-referral/HeroSection.css" />
    <link rel="stylesheet" href="/join-referral/JoinWithUs.css" />
  </head>
  <body>
    <noscript> You need to enable JavaScript to run this app. </noscript>
    <div id="root" class="bg-darker"></div>
    <script src="views-build/main.bundle.js"></script>

    <script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
